.DS_Store
node_modules
static/app/*.js
static/css/*.css
static/less/shared/path.less
build.log
exceptions.log
changedFiles.txt
.idea
static/img/tmp/*.jpg
static/img/tmp/*.png
static/img/tmp/*.bmp
static/img/tmp/*.jpeg
static/img/tmp/*.xlsx
static/display.html
static/login.html
static/index.html
static/public.html
static/survey.html
static/provision.html
static/unsupported.html
static/img/product
static/img/tmp/badges
static/img/user/*.jpg
static/img/user/*.png
static/img/team/*.jpg
static/img/team/*.png
static/img/badges/group
static/img/company/branding/*.jpg
static/img/company/branding/*.png
static/img/company/profile/*.jpg
static/img/company/profile/*.png
static/img/product/*
static/templates/i18n/en.json
static/templates/i18n/email/en.json
static/lang/lang-map.js
static/lang/custom-map.json
tempprovision/*
static/versionNumber.txt
karma.coverage
provision/*.csv
provision/test-import-qatest-wayne-addGary.xlsx
provision/~$test-import-qatest-wayne.xlsx
*.zip
build/lastdeploument.txt
tempfile
coverage
npm-debug.log
apidoc
provision/*.xlsx
static/img/reports/*/*.xlsx
static/img/tmp/certs
styleguide
dump.rdb
newrelic_agent.log
